<h1>Pick Rock, Paper or Scissors</h1>

<br>
  
  <span class="rock">
    <a href="/throw/move/rock">
      <img src="/rock.png" width="300px" height="300px"/>
    </a>
  </span>
  
  <span class="paper">
    <a href="/throw/move/paper">
      <img src="/paper.png" width="300px" height="300px"/>
    </a>
  </span>

  <span class="scissor">
    <a href="/throw/move/scissors">
      <img src="/scissors.png" width="300px" height="300px"/>
    </a>
  </span>
 