
<div class="play_again">
  <a href="/"><p>Play Again!</p></a>
</div>

<div>
  <h1><%= @result %><h1>
</div>


<span>
  <h2>You picked:</h2>
  <img src="/<%= @human %>.png" width="300px" height="300px"></img>
</span>

<!-- <span>
  <h1>Vs</h1>
</span> -->

<span>
  <h2>Computer picked:</h2>
  <img src="/<%= @computer %>.png" width="300px" height="300px"></img>
</span>
