body {
	
}

img {
	padding: 10px;
}


.rock 
{
  position: relative;
  top: 60px;
}

h1, h2, br {
  display: inline-block;
}

.play_again {
  font-size: 200%;
 
  color: black;
}

a{
   text-decoration: none;
}